.profile__button-border {
    width: 150px;
    height: 50px;
    border: 2px solid rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
}

.profile__button-border:hover {
    opacity: 0.6;
}

@media (max-width: 768px) {
    .profile__button-border {
        width: 100%;
        margin-top: 30px;
    }
}
